*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.firstpage{
    background-image:url(../images/wallpaperflare.com_wallpaper\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
     height: 705px;
     position:relative;   
}
.firstpagetext{
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.h1{
    font-size:60px;
    text-transform: uppercase;
    color:white;

}
.pfistpage{
    color:white;
    opacity:0.7;
}
.buttonfirstpage{
    height:50px;
    width:120px;
    border-radius:10px;
    font-size: 20px;
    text-transform:capitalize;
}
.r{
    background-color: rgb(76, 43, 226);
}
.buttonfirstpage:hover{
    height:50px;
    width:120px;
    border-radius:10px;
    font-size: 20px;
    text-transform:capitalize;
    opacity:0.6;
}
.secondpage{
    height: 705px;
    width:100%;
    background-color:rgba(223, 231, 238, 0.871);
    margin: auto;
}
.p2second{
    color:grey;
}
.h2 ,.h22{
    font-size:40px;
    font-weight: bolder;
    text-transform: capitalize;   
}
.p9{
    text-align: center;
}
.line1{
    margin:auto;
    height: 4px;
    width:120px;
    background-color: rgb(76, 43, 226);
    margin-top:5px;
}
.secondpageitem{
    /* background-color:aliceblue; */
    margin-left:150px;
    margin-top:100px;
    height:250px;
    width:20%;
    border:2px solid rgb(76, 43, 226);
    border-radius:5px;
    line-height: 40px;
    float:left;
    position:relative;
}
.psecond {
    font-size:30px;
    font-weight:bold;
}
i{
    color:rgb(76, 43, 226);
     font-size:30px;
     line-height:40px;
     padding-top: 20px;
}
.a2{
      text-decoration:none;
      font-size:20px;
      color: rgb(76, 43, 226);
}
.secondpageitem:after{
    content:"";
    width:0;
    height:0;
    left:0;
    top:0;
    transition:1s;
    position:absolute;
    background-color:rgb(87, 71, 207) ;
    z-index: -1;

}
.secondpageitem:hover .a2{
    font-size:30px;
    color:blueviolet;
}
.secondpageitem:hover::after{
    width:100%;
    height:100%;
 
}
.secondpageitem:hover .i1{
      color:blueviolet;
}
.secondpageitem:hover .p2second{
    color:black;
    font-weight:bold;
}
.thirdpage{
    width:100%;
    height: 705px;
    text-align:center;
    background-color: rgba(199, 212, 222, 0.871);

}
.contaner1{
    margin:auto;
    width:80%;
}
.thirditem{
    width:300px;
    height:200px;
    float:left;
    margin-top:30px;

    
}
.thirditem img{
    width:100%;
    height:100%; 
}
.img1{
    position:relative;
    width:100%;
    height:100%; 
}
.k{
    margin-top:150px;
}
.o{
    margin-left: 10%;
    margin-right: 5%;
}

.overlaythird{
    position:absolute;
    background-color:rgba(0, 0, 0, 0.488);
    width:100%;
    height:100%;
    visibility:hidden;
    top: 0; 
    left: 0; 

}
.thirditem:hover .overlaythird{
    visibility:visible;
}
.overlaythird .ppthird{
    color:white;
    line-height: 40px;
    font-size:20px;
}
.overlaythird .pthird{
    color:rgb(248, 243, 243);
    line-height: 50px;
    font-size:40px;
    text-transform: capitalize;
}
.overlaythird i{
    color:rgb(255, 243, 243);
    line-height: 50px;
    font-size:40px;
}
 h1{
    text-align:center;
    text-transform:capitalize;
}
.div11{
    margin:auto;
    height:4px;
    width:100px;
    background-color:rgb(76, 43, 226);
    margin-top:20px;
}
.div12{
    height:250px;
    width:350px;
    float:left; 
    border:  2px solid rgb(76, 43, 226) ;
    border-radius: 10px;
    position:relative;
    padding-left:50px;
}
.div12 .parag1{
    font-size: 20px;
    color:black;
}
.fg{
    margin: 20px 50px;
}
.fss{
    margin: 20px 90px;
}
.j1,.head1,.j2,.head2,.j3,.head3,.j4,.head4,.j5,.head5,.j6,.head6{
    font-size:30px;
    display:inline;
}
.j1,.j2,.j3,.j4,.j5,.j6{
    color:rgb(76, 43, 226);
}
.img2{
    height:40px;
    width:40px;
    margin-left: 200px;
    display:inline;
    float:left;
}
.div12:hover .j1{
    color:blueviolet;  
}
.div12:hover .head1{
    color:blueviolet;  
    font-size: 30px;
}
.div12:hover .parag1{
    font-size: 20px;
    font-weight: bold;
}
.div12:after{
    content:"";
    width:0;
    height:0;
    left:0;
    top:0;
    transition:1s;
    background-color:rgb(87, 71, 207);
    position:absolute; 
    z-index: -1;
}
.div12:hover::after{
    width:100%;
    height:100%;
}
.fifthpage{
    width:100%;
    height: 705px;
    background-color:rgba(223, 231, 238, 0.871) ;
}
.rightfifth{
    margin-top:100px;
    margin-left:150px;
    float:left;
    width:50%;
}
.span5{
    line-height:25px;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}
.leftfifth{
   float:right;
   padding:100px 40px;
}
.leftfifth li{
    width:30px;
    height:30px;
    border-radius: 50%;
    font-size:45px;
    color:grey;
    float:left;
}
.leftfifth li:hover{
    color:rgb(87, 71, 207);
}

.leftfifth ul{
    margin-left:140px;
}

.po{
    font-size:40px;
    font-weight:bold;
    text-transform: capitalize;
}
.linepo{
    margin-left:2px;
   
}
.so{
    color: grey;
    line-height: 30px;
}
.sixpage{
    width:100%;
    height: 400px;
    background-image:url(../images/wallpaperflare.com_wallpaper\ \(3\).jpg);
    background-attachment:fixed;
    background-size: cover;
    position:relative;
    text-align: center;
   
}
.parent6{
    width:100%;
    height: 400px;
    background-color:rgba(0, 0, 0, 0.541);
    position:absolute;
}
.itemsix{
    float:left;
    margin: 150px 130px;

}
.itemsix p {
   font-size:20px;
   color:white;
}
.itemsix i{
    font-size:40px;
}
.sevenpage{
    width:100%;
    height: 705px;
   
    background-color:rgba(223, 231, 238, 0.871) ;
}
.header{
    text-align:center;
    color:black;
}
.div2{
    height:450px;
    width:300px;
    border-radius:4px;
    float:left; 
    margin:0px 95px;
    margin-top:50px;  
    text-align: center;   
    border: 2px solid rgb(76, 43, 226);
    position:relative;
}

.p1, .p2, .p3{
   color:black;
   font-size: 30px;
}
.div5,.div6,.div7{
    height:100px;
    width:100px;
    border-radius:50px;
    background-color: aliceblue;
    border: 2px solid rgb(76, 43, 226);
    float:left;
    margin: 0px 105px;
    text-align: center;
}
.k1{
    font-size:20px;
    font-weight: bold;
    line-height: 60px;
    color: black;

}
button{
    border: 2px solid rgb(76, 43, 226);
    border-radius:8px; 
    width:120px;
    height:40px;
    background-color: aliceblue;
    
}
.t1,.t2,.t3{
    color:black;
    font-weight: bold;
    font-size: 20px;
}
.div2:after{
    content:"";
    width:100%;
    height:0;
    top:0;
    left:0;
    position:absolute;
    transition:1s;
    background-color:rgb(87, 71, 207);
    z-index: -1;
}
.div2:hover .div5{
   border-color:  rgb(73, 0, 142);
}
.div2:hover .p1{
    color:rgb(73, 0, 142);
}

.div2:hover::after{
    width:100%;
    height:100%;

}
.div2:hover{
    height:500px;
    width:320px;
    border-radius:4px;
    float:left; 
    margin:0px 100px;
    margin-top:50px;  
    text-align: center;   
}
.eightpage{
    width:100%;
    height: 400px;
    background-image:url(../images/wallpaperflare.com_wallpaper\ \(4\).jpg);
    background-attachment:fixed;
    background-size: cover;
    position:relative;
    text-align: center;
}
.eightitem{
    float:left;
 
    width:35%;
    margin:180px 5%;
}
.img8{
    background-image:url(../images/photo_2024-11-24_20-36-44.jpg);
    background-size: cover;
    height:80px;
    width:80px;
    border-radius:40px; 
   float:left;
}
.y{  
    background-image:url(../images/photo_2024-11-24_20-36-46.jpg);
    background-size: cover;
    height:80px;
    width:80px;
    border-radius:40px; 
   
}
.content{
  margin-right:250px;
}
.content p{
    color:white;
    font-size:30px;
    line-height:40px;
    font-weight: 800;
}
.op{
    color:rgba(223, 231, 238, 0.871);
    font-size:15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.p9{
    font-size:50px;
}
.content9{
    width:80%;
    margin: 100px 10%;   
}
.parent9{
    float:auto;
}
.item9{
    width:30%;
    height:350px;
    float:left;
    background-color:aliceblue;
    border: 2px solid rgb(76, 43, 226);
    border-radius:8px;
    padding: 14px 16px;
    position:relative;
    text-align: center;
}
.bo{
    margin:0 5%;
}

.img9 {
    width:90%;
    margin:auto;
   position:relative;
   
 
}
.img9 img{
    width:100%;
    
}
.overlay9{
    background-color: rgba(0, 0, 0, 0.663);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
  
    visibility: hidden;
}
.overlay9 a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgb(76, 43, 226);
    color: #fff;
    font-size: 20px ;
    margin-left: auto ;   
}
.overlay9  a  i {
    margin:auto;
    line-height:10px ;
    color: white;
}
.pitem{
    font-size: 30px;
    line-height: 60px;
    font-weight: bold;
}
.u{
    color:grey;
}
.item9:hover .overlay9{
    visibility: visible;
    transition: 1s;
}
.item9:after{
    content:"";
    width:100%;
    height:0;
    top:0;
    left:0;
    position:absolute;
    transition:0.6s;
    background-color:rgba(87, 71, 207, 0.366);
}
.item9:hover::after{
    width:100%;
    height:100%;

}
.item9:hover .d{
    color:rgb(76, 43, 226);
}
.item9:hover .u{
    color:black;
}
.item10{
    width:25%;
    height:550px;
    float:left;
    background-color:aliceblue;
    margin:0 10px;
    text-align: center;
    border: 2px solid rgb(76, 43, 226);
    border-radius:8px;
    padding: 15px 14px;
    position:relative;
 
    
}
.h0{
    margin:0 5%;
}
.content10{
    width:90%;
    margin: 30px 10%;
}
.img10{
    border-radius: 6px;
    height: 300px;
    width:250px;
    background-image: url(../images/photo_2024-11-25_22-20-23.jpg);
    background-size: cover;
    margin:auto;
    position:relative;
    z-index: 3;

}
.img11{
    border-radius: 6px;
    height: 300px;
    width:250px;
    background-image: url(../images/photo_2024-11-25_22-20-25.jpg);
    background-size: cover;
    margin:auto;
    position:relative;
    z-index: 3;

}
.img12{
    border-radius: 6px;
    height: 300px;
    width:250px;
    background-image: url(../images/photo_2024-11-25_22-20-26.jpg);
    background-size: cover;
    margin:auto;
    position:relative;
    z-index: 3;

}
.p10{
    font-size:30px;
    line-height:40px;
    text-transform: capitalize;
    font-weight:bold;
    text-transform: capitalize;
}
.item10 a{
    text-decoration: none;
    color:rgb(76, 43, 226);
    font-size: 20px;
}
.item10:hover .ve{
    color:black;
    font-weight: bold;
}
.item10:hover .p10{
    color:rgb(73, 0, 142);
}
.p10 ~p{
    color:grey;
    font-family: 'Times New Roman', Times, serif;
    
}
.item10:after{
    content:"";
    width:100%;
    height:0;
    top:0;
    left:0;
    position:absolute;
    transition:1s;
    background-color:rgba(87, 71, 207, 0.366);
   

}
.item10:hover::after{
    width:100%;
    height:100%;
   

}
.item10 i{
    font-size: 20px;
}
.io{
    margin-left:15px;
}
.item20{
    width:100%;
    height: 350px;
    text-align:center;
    background-color: rgba(87, 71, 207, 0.366);
    padding: 40px 38.5%;
    margin:auto;
    
  
}
.img20{
    margin:auto;
    background-image: url(../images/wallpaperflare.com_wallpaper\ \(5\).jpg);
    background-size:cover;
    height: 200px;
    width:300px;
    border-radius: 10px;
}
.icons{
    margin: auto;
    float:left;
    height:50px;
    width:50px;
    border-radius: 25px;
    background-color:rgba(76, 43, 226, 0.527) ;  
    margin-top: 20px;
    margin-left:6px;
    
    
}
.icons a i{  
    color:white;
    line-height: 15px; 
    margin: auto;

    
}
.ww{
    color:grey;
    font-weight:bold;
    font-size: 15px;
    text-transform: uppercase;
}
.icons:hover{
    background-color:rgb(76, 43, 226);
}
.div1{
    width :100%;
    height:40px;
    background-color:rgba(76, 43, 226, 0.525);
    position:fixed;
    top:0;
    z-index: 10;
  
}
.icon1{
    color:white;
    font-size: 25px;
    margin-left:20px;
    margin-top: -12px;
    float:left;
}
input{
    float:left;
    margin-left:20px;
    margin-top:4px;
    width:200px;
    height:25px;
    border-radius: 13px;
    background-color: aliceblue;
    
}
.f{
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: 7px;
}

.icon2 {
    position: absolute;
    top: -10px; 
    left: 30px; 
    font-size: 18px;
}

.ulheader{
    list-style:none;
    float:left;
    margin-left:700px;
    margin-top: -28px;
    top:0;
}
.ulheader li{
   display:inline-block ;
   margin-left:25px ;
   color:white;
   font-size: 20px;
   font-weight: bold;    
}
